apiVersion: apps/v1
kind: Deployment
metadata:
  name: audit-service
  namespace: taskflow
spec:
  replicas: 1
  selector:
    matchLabels:
      app: audit-service
  template:
    metadata:
      labels:
        app: audit-service
      annotations:
        dapr.io/enabled: "true"
        dapr.io/app-id: "audit-service"
        dapr.io/app-port: "8004"
    spec:
      containers:
      - name: audit-service
        image: taskflow-audit:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 8004
---
apiVersion: v1
kind: Service
metadata:
  name: audit-service
  namespace: taskflow
spec:
  selector:
    app: audit-service
  ports:
  - protocol: TCP
    port: 80
    targetPort: 8004
